{% extends "base.html" %}

{% block content %}
<p>
    Ahoj {{ name.split(' ')[0] }},<br><br>
    tvoje žádost na podporu byla přijata.<br>
    Brzy se ti ozveme. 🥵
</p>

<p>
    Tvé:<br><br>
    Jméno: {{ name }}<br>
    Email: <a href="mailto:{{ email }}" target="_blank">{{ email }}</a><br><br>
    Kategorie: {{ category }}<br>
    Zařízení: {{ device }}<br>
    Typ zařízení: {{ type }}<br>
    Sériové číslo: {{ serialNumber }}<br>
</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ buttonLink or '#' }}" class="btn btn-primary" target="_blank">
                            {{ buttonText or 'Sledovat stav žádosti' }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
